.map{
    width:75%;
    height: 80vh;
    margin:auto;
}

*{
    margin:0;
    padding:0;
}
.map-wrapper{
    width:100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vmap{
    height: 100vh;
    width: 100%;
}
.jvectormap-container{
    height: 100vh !important;
    width: 100%;
}